// this is a black icon with 50% opacity
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

h3 {
  padding: 20px;
}

.btn {
  padding-left: 15px;
  margin-left: 5px;
}
